<div class="memory">
  <div class="upper-message">
    <div class="memory-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= memory.user.name %>
    </div>
  </div>
  <div class="lower-message">
    <div class="memory-content">
      <!-- 投稿した思い出内容を記述する -->
      <%= memory.year %>/<%= memory.month %>/<%= memory.day %>
      <%= memory.place %>
      <%= memory.weather %>
      <%= memory.access %>
      <%= memory.scene %>
      <%= memory.price %>
      <%= memory.with_who %>
      <%= memory.comment %>
    </div>
    <%= image_tag memory.image, class: 'memory-image' if memory.image.attached? %>
  </div>
</div>
